# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as ny

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [16]:

chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '', regex=False).astype(float)


items_caro = chipo[chipo['item_price'] > 10.00]


num_item_caros = items_caro.shape[0]


print(f"Número de produtos que custam mais de $10.00: {num_item_caros}")

Número de produtos que custam mais de $10.00: 1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [19]:
item_preco = chipo[['item_price', 'item_name']]
print(item_preco)

      item_price                              item_name
0           2.39           Chips and Fresh Tomato Salsa
1           3.39                                   Izze
2           3.39                       Nantucket Nectar
3           2.39  Chips and Tomatillo-Green Chili Salsa
4          16.98                           Chicken Bowl
...          ...                                    ...
4617       11.75                          Steak Burrito
4618       11.75                          Steak Burrito
4619       11.25                     Chicken Salad Bowl
4620        8.75                     Chicken Salad Bowl
4621        8.75                     Chicken Salad Bowl

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [20]:
sorted_item_name = chipo.sort_values(by = 'item_name')
print(sorted_item_name)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [21]:
mais_caro = chipo['item_price'].max()
print(mais_caro)

44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [24]:
veggie_pedido = chipo[chipo['item_name'] == 'Veggie salad bowl']
num_veggie_pedido = veggie_pedido.shape[0]
print(num_veggie_pedido)

0

### Step 9. How many times did someone order more than one Canned Soda?

In [29]:
canned_soda = chipo[chipo['item_name'] == 'Canned Soda']

more_than_one = canned_soda[canned_soda['quantity'] > 1]

num_more_than_one = more_than_one.shape[0]

print(f"O item 'Canned Soda' foi pedido mais de uma vez em {num_more_than_one} ocasiões.")

O item 'Canned Soda' foi pedido mais de uma vez em 20 ocasiões.